---
const navItems = [
	{ label: "stuff we've built", href: "/" },
	{ label: "sh*t we're building", href: "/about" },
	{ label: "who we're working with", href: "/services" },
	{ label: "get in touch", href: "/contact" },
];
---

<nav class="fixed bottom-0 w-full p-5 z-50 text-white">
	<ul
		class="backdrop-blur-lg p-6 rounded-2xl flex items-center justify-between max-w-6xl mx-auto"
	>
		{
			navItems.map((item) => (
				<li class="h-full text-sm flex items-center hover:bg-white hover:text-black p-2 rounded-md transition-all duration-300">
					<a href={item.href}>{item.label}</a>
				</li>
			))
		}
	</ul>
</nav>
