---
import DesktopNavigation from "./react/DesktopNavigation";
import MobileNavigation from "./react/MobileNavigation";

const navItems = [
	{ label: "stuff we've built", href: "/works" },
	{ label: "sh*t we're building", href: "/about" },
	{ label: "who we're working with", href: "/services" },
	{ label: "get in touch", href: "/contact" },
];
---

<nav class="fixed bottom-0 w-full p-5 z-50 text-white">
	<div class="hidden md:block">
		<DesktopNavigation client:load items={navItems} />
	</div>
	<div class="md:hidden">
		<MobileNavigation client:load items={navItems} />
	</div>
</nav>
